.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.tableTH {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.tableTD {
	border: 1px solid #dddddd;
	padding: 5px;
}
.d6 h3 {
    text-align: center;
    padding-bottom: 10px;
  }
.d6 h3:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -15%;
    width: 30%;
    height: 2px;
    background: #FA5F4C;
}
.no {
    width: 0px;
    display: none;
}